body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fff;
  color: #333;
  text-align: left;
}

/* General in-text links (red)*/
main a,
footer a {
  color: #df1b12;
  text-decoration: none;
  font-weight: bold;
}

main a:hover,
footer a:hover {
  text-decoration: underline;
}

/* Navigation bar links (white) */
.main-header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.main-header nav a:hover {
  text-decoration: underline;
}

/* Top red nav bar */
.main-header {
  background-color: #df1b12;
  padding: 1.2rem 2rem; 
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 10px 20px;
}

.main-header a {
  margin-left: 20px;
}



a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

/* White background logo header */
.logo-header {
  background-color: white;
  padding: 10px 0;
  text-align: center;
  padding-left: 10px;
}

.logo {
  height: 400px;
  max-width: 100%;
}

/* Main layout */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

/* Section titles */
h2 {
  margin-top: 40px;
  color: #df1b12;
}

/* Partner logos */
.partner-logos {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.partnerlogo {
  max-width: 100%;
  height: 80px;
/*   max-height: 50%; */
}

.misclogo {
  max-width: 100%;
  height: 50px;
/*   max-height: 50%; */
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
  color: #666;
  margin-top: 60px;
}
